// COLORS
$bgc: #fff;
$c: #F4652D;
$c2: #000;
$ct: #626161;

//menu mobile
$lk-color: #000;
$lk-color-active: #fff;
$bg-color-active: $c;
$hamb-color: lighten(grey, 30%);
// END COLORS

$global-responsive: 955px;
$global-font-size: 14px;
$global-lineheight: 1.5;
$bff: "Roboto", sans-serif;
